<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Client Email Assistant</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
    <h1>AI Client Email Assistant — Flask Version</h1>
    <p>Generate professional client emails using retrieval + generation.</p>
    
    <form action="/generate" method="POST" enctype="multipart/form-data"> <!--The form will take the input when app.py renders index.html. Without 'enctype = ...' request.files will be empty.  -->
        <h3>Purpose</h3>
        <input type="text" name="purpose" placeholder="Follow up on proposal submission">

        <h3>Client Type</h3>
        <select name="client_type">
            <option>Corporate client</option>
            <option>Startup founder</option>
            <option>Individual client</option>
            <option>Partner</option>
            <option>Vendor</option>
        </select>

        <h3>Tone</h3>
        <select name="tone">
            <option>Formal</option>
            <option>Friendly</option>
            <option>Urgent</option>
            <option>Casual</option>
        </select>

        <h3>Key Points</h3>
        <textarea name="key_points" rows="5" cols="50"></textarea>

        <h3>Past Conversation / Past Emails</h3>
        <textarea name="past_text" rows="8" cols="60"></textarea>
        
        <h3>Upload documents (optional)</h3>
        <input type="file" name="documents" multiple accept=".txt,.pdf">

        <h3>Settings</h3>
        Top-k: <input type="number" name="top_k" value="2"><br><br>
        Max New Tokens: <input type="number" name="max_new_tokens" value="220"><br><br>
        
        <button type="submit">Generate Email</button>
    </form>
    </div>
</body>
</html>
